<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ACME Labs Inc{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <!--<img src="{{ url_for('static', filename='img/updated-logo.jpeg') }}" alt="ACME Labs Logo" id="main-logo">-->
        <nav>
            <ul id="header-nav">
                <li><img src="{{ url_for('static', filename='img/logo-pic-only.png') }}" alt="ACME Labs Logo" style="height: 50px;"></li>
                <li><a href="/">Home Page</a></li>
                <li><a href="/products">Our Products</a></li>
                <li><a href="/partnerships">Notable Partnerships</a></li>
                <li><a href="/legal">Legal & Compliance</a></li>
                <li><a href="/about">About ACME Labs</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer id="main-footer">
        <p>&copy; 2025 ACME Labs Inc. All rights reserved.</p>
    </footer>
</body>
</html>