{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center;">Example Home Page for ACME Labs Inc.</h1>
<p id="fake-disclaimer">This is a fake website for a ficticious company. None of the information on this website is real or valid.
    Everything you see here is complete fabricated for educational purposes. The reason this environment was created 
    is to support the other example operations created for the organization: "ACME Labs Inc".</p>

<h3>Company Description</h3>
<p id="company-description-para">ACME Labs Inc. is a cutting-edge research and development company specializing in biotechnology, 
    artificial intelligence, and sustainable energy solutions. The company pioneers next-generation materials, 
    medical advancements, and AI-driven automation. With a strong emphasis on innovation and ethical technology, 
    ACME Labs Inc. has secured multiple patents and collaborates with Fortune 500 companies to revolutionize industries. 
    Established in 1998, ACME Labs Inc. has grown exponentially, both in size and impact, leading the way in various 
    high-technology fields.</p>


<p>In summary, ACME Labs Inc. is a pioneering force in research and development, dedicated to creating innovative and ethical solutions across biotechnology, artificial intelligence, and sustainable energy. With a talented team of over 500 employees, state-of-the-art facilities, and a commitment to excellence, ACME Labs Inc. continues to shape the future of technology and make a lasting impact on the world.</p>
<h3>Technologies Used</h3>
<p>This website is built using modern web technologies to ensure a seamless and responsive user experience. The front-end is developed with HTML5, CSS3, and JavaScript, providing a clean and interactive interface. The back-end is powered by Python and Flask, a high-level web framework that encourages rapid development and clean, pragmatic design. Additionally, the website leverages Bootstrap for responsive design, ensuring it looks great on all devices. For data storage and management, PostgreSQL is used as the database system. The combination of these technologies ensures a robust, scalable, and maintainable web application.</p>
{% endblock %}