{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center;">Example Home Page for ACME Labs Inc.</h1>
<p id="fake-disclaimer">This is a fake website for a ficticious company. None of the information on this website is real or valid.
    Everything you see here is complete fabricated for educational purposes. The reason this environment was created 
    is to support the other example operations created for the organization: "ACME Labs Inc".</p>

<h3>Company Description</h3>
<p id="company-description-para">ACME Labs Inc. is a cutting-edge research and development company specializing in biotechnology, 
    artificial intelligence, and sustainable energy solutions. The company pioneers next-generation materials, 
    medical advancements, and AI-driven automation. With a strong emphasis on innovation and ethical technology, 
    ACME Labs Inc. has secured multiple patents and collaborates with Fortune 500 companies to revolutionize industries. 
    Established in 1998, ACME Labs Inc. has grown exponentially, both in size and impact, leading the way in various 
    high-technology fields.</p>
{% endblock %}